* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    padding: 15px;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.card {
    width: 30%;
    height: 530px;
    background-color:hsl(0, 0%, 12%);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 8px;
    text-align: center;
    
}
.image{
    width: 80px;
    height: 80px;
    border-radius: 200px;
    background-image: url("/assets/images/avatar-jessica.jpeg");
    background-size: cover;
    background-position: center;   
    margin: 0 auto;
      margin-bottom: 15px;
}
.details {
    height: 25%;
}
.details h1{
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-bottom:4px;
}
.details h4{
  color: hsl(75, 94%, 57%);
    margin-bottom: 15px;
}
.details p {
    font-size: 16px;
   color: hsl(0, 0%, 100%);
   
}
.social-card {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   /* background-color: white; */
    padding: 20px;
    border-radius: 8px;
}
.social-card p {
    /* width: 100%; */
    /* background-color:  hsl(0, 0%, 20%);  */
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 12px;
    
    transition: background-color 0.3s, color 0.3s;

}
/* .social-card p:hover {
    background-color: hsl(75, 94%, 57%);
  
} */
.social-card a:hover{
    color: rgb(0, 0, 0);
    background-color: hsl(75, 94%, 57%);
}
.social-card  a {
    text-decoration: none;
   color: hsl(0, 0%, 100%);
   background-color: hsl(0, 0%, 20%);
   margin-bottom: 7px;
   border-radius: 6px;
}



.attribution {
    color: hsl(0, 0%, 100%);
    height: 4%;
    font-size: 11px;
    text-align: center;
}